{% extends 'base.html' %}

{% block content %}
<style>
    /* CSS yang mengatur tema */
    h1 {
        font-size: 24px;
        color: #583672;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    /* CSS untuk formulir */
    form {
        margin-top: 20px;
    }

    /* CSS untuk tabel */
    table {
        background-color: #fff;
        border: 1px solid #ddd;
        border-collapse: collapse;
        width: 50%; /* Mengurangi lebar tabel */
        margin: 0 auto; /* Memusatkan tabel di tengah halaman */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 8px; /* Mengurangi padding sel dalam tabel */
        text-align: left;
    }

    th {
        background-color: #FEE12B;
        color: #fff;
        font-weight: bold;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    /* CSS untuk tombol "Edit Product" */
    input[type="submit"] {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #452A5A;
    }
</style>

<h1>Edit Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Edit Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
