{% extends 'base.html' %}

{% block meta %}
    <title>Main</title>
    <style>
        /* Navbar styles */
        .navbar {
            background-color: #452A5A;
            color: #FFD300;
            border-bottom: 2px solid #fff;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        .navbar-brand {
            color: #FFD300;
            font-size: 32px;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        .nav-link {
            color: #fff !important;
            margin-right: 20px;
            font-weight: bold;
            transition: color 0.3s;
        }

        .nav-link:hover {
            color: #452A5A !important;
        }

        /* Menggeser tombol Logout ke ujung kanan */
        .navbar-nav {
            display: flex;
            align-items: center;
        }

        /* Menggeser tombol Logout ke pojok kanan atas */
        .navbar-logout {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
            background-color: #FFD300;
            color: #452A5A;
            padding: 12px 24px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            transition: background-color 0.3s, color 0.3s;
        }

        /* Gaya tombol Logout saat digerakkan */
        .navbar-logout:hover {
            background-color: #452A5A;
            color: #FFD300;
        }

        body {
            background-image: url('background-image.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* Page title styles */
        h1, h3, h5 {
            font-size: 24px;
            color: #FFD300;
            padding: 10px 0;
            margin: 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        /* Product table styles */
        table {
            background-color: #fff;
            border: 1px solid #ddd;
            border-collapse: collapse;
            width: 100%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px 20px;
            text-align: left;
        }

        th {
            background-color: #452A5A;
            color: #FFD300;
            font-weight: bold;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        /* Action buttons styles */
        .btn {
            padding: 10px 20px;
            margin-right: 5px;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 0.3s;
            border: none;
            cursor: pointer;
        }

        .btn {
            margin-right: 5px;
        }

        .btn {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            background-color: #FFD300;
            color: #452A5A;
        }

        .btn-primary:hover {
            background-color: #452A5A;
            color: #FFF;
        }

        .btn-warning {
            background-color: #452A5A;
            color: #FFD300;
        }

        .btn-warning:hover {
            background-color: #FFD300;
            color: #FFF;
        }

        .btn-danger {
            background-color: #FF6347;
            color: #fff;
        }

        .btn-danger:hover {
            background-color: #E03E26;
        }

        /* Logout button styles */
        .logout-button {
            background-color: #452A5A;
            color: #FFD300;
            padding: 12px 24px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            transition: background-color 0.3s, color 0.3s;
        }

        /* Gaya tombol Logout saat digerakkan */
        .logout-button:hover {
            background-color: #FFD300;
            color: #FFF;
        }

        /* Card styles */
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }

        .card {
            background-color: #452A5A;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            margin: 10px;
            width: calc(33.33% - 20px);
            padding: 20px;
            transition: box-shadow 0.3s;
        }

        .card:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        }

        /* Card title */
        .card-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #FFD300;
        }

        /* Card description */
        .card-description {
            font-size: 14px;
            margin-bottom: 15px;
            color: #fff;
        }

        /* Card buttons */
        .card-buttons {
            display: flex;
            justify-content: space-between;
        }

        .card-button {
            background-color: #FFD300;
            color: #452A5A;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            transition: background-color 0.3s;
            display: block;
            margin: 0 auto; /* Mengatur tombol ke tengah */
        }

        .card-button:hover {
            background-color: #452A5A;
            color: #FFD300;
        }

    </style>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StockWise</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </div>
      <div class="navbar-nav">
      </div>
        <div class="navbar-logout">
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
        </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                    <label for="category" class="col-form-label">Category:</label>
                    <input type="text" class="form-control" id="category" name="category"></input>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<h5>Welcome, {{ name }}</h5>
<h3>Product List</h3>

<div id="card-container" class="card-container"></div>


<br />


<a href="{% url 'main:create_product' %}">
    <button class="card-button">Add New Product</button>
</a>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<h10>Last Login Session: {{ last_login }}</h10>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json());
    }

    async function refreshProducts() {
    const products = await getProducts();
    const cardContainer = document.getElementById("card-container");
    cardContainer.innerHTML = "";

    products.forEach((item) => {
        // Buat card untuk setiap produk
        const card = document.createElement("div");
        card.classList.add("card");

        const cardTitle = document.createElement("h2");
        cardTitle.textContent = item.fields.name;
        card.appendChild(cardTitle);

        const cardAmount = document.createElement("p");
        cardAmount.textContent = `Amount: ${item.fields.amount}`;
        card.appendChild(cardAmount);

        const cardDate = document.createElement("p");
        cardDate.textContent = `Date Added: ${item.fields.date_added}`;
        card.appendChild(cardDate);

        const cardCategory = document.createElement("p");
        cardCategory.textContent = `Category: ${item.fields.category}`;
        card.appendChild(cardCategory);

        const cardDescription = document.createElement("p");
        cardDescription.textContent = `Description: ${item.fields.description}`;
        card.appendChild(cardDescription);

        // Tambahkan card ke card-container
        cardContainer.appendChild(card);
    });
}


    refreshProducts()

    

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct


</script>


{% endblock content %}
